# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Streamlit
.streamlit/
!# Se você quiser ignorar segredos, mas manter configurações, use:
# .streamlit/secrets.toml

# Dados (Arquivos Parquet)
# Caso não queira subir os arquivos de dados para o GitHub (recomendado se forem grandes)
*.parquet

# Sistema
.DS_Store
Thumbs.db
